@font-face {
    font-family: minecraft-font;
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Minecraft.ttf);
}

:root {
    --font-minecraft: minecraft-font, 'Courier New', Courier, monospace;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    cursor: url(assets/img/pickaxe.png), auto;
    background-image: url(assets/img/quartz-texture.svg);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

::selection {
    background-color: #000c13;
    color: #fff;
}

/* HEADER */

.header {
    width: 100vw;
    min-width: 100vw;
    height: 14rem;
    padding: 1rem 0px;
    background-color: rgb(33, 33, 33);
    background-image: url('assets/img/obsidian.png');
}

.header-container-logo {
    width: 35rem;
    margin: auto;
    margin-bottom: 1rem;
.header-container-logo {
    width: 35rem;
    margin: auto;
    margin-bottom: 1rem;
    /* background-color: blue; */
}

.header-logo {
    min-width: 25rem;
}

.header-container-phrase {
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}

.header-phrase {
    width: 25rem;
    font-family: var(--font-minecraft);
    text-align: center;
    line-height: 1.9rem;
    color: #ececef;
    /* background-color: brown; */
}


/* MAIN  */

.nav{
    /* background-color: aqua; */
}

.index{
    display: flex;
}

.main{
    padding: 3rem 10rem;
    /* position: absolute; */
    /* top: 14rem; */
    /* max-height: 100vh; */
}

.main-content{
    /* background-color: aqua; */
}

/* FOOTER */

.footer{
    position: sticky;
    bottom: 0;
    color: white;
    margin-top: auto;
    background-color: rgb(33, 33, 33);
    background-image: url('assets/img/obsidian.png');
}

.footer-copyright{
    text-align: center;
    line-height: 3.5rem;
}

/* BUTTONS */
.btn-minecraft__grass{
    display: inline-block;
    font-family: var(--font-minecraft);
    color: #fff;
    text-decoration: none;
    text-align: center;
    border:  3px outset #4caf50;
    padding: 1rem;
    background-color: #4caf50;
}

.btn-minecraft__grass:hover{
    border:  3px inset #4caf50;
}