@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');

@font-face {
    font-family: minecraft-font;
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Minecraft.ttf);
}

@font-face {
    font-family: minecraft-font-bold;
    font-style: normal;
    font-weight: bold;
    src: url(assets/fonts/BigApple.ttf);
}

:root {
    --font-minecraft: minecraft-font, 'Courier New', Courier, monospace;
    --font-minecraft-bold: minecraft-font-bold, 'Courier New', Courier, monospace;
    --min-w-device: 32rem;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: var(--min-w-device);
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    min-width: inherit;
    background-image: url(assets/img/quartz-texture.svg);
    font-family: var(--font-minecraft);
    font-size: 1.5rem;
}

ul{
    padding: 0;
}

li {
    list-style: none;
}

::selection {
    background-color: #000c13;
    color: #fff;
}

/* HEART ABSOLUTE  */

.heart-absolute{
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 0px;
    height: 64px;
    width: 64px;
    background-image: url(assets/img/minecraft-heart.png);
}

/* HEADER */

.header {
    min-width: var(--min-w-device);
    width: 100vw;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
}

.header-container-logo {
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-logo {
    min-width: var(--min-w-device);
    max-width: 60rem;
    padding: 2rem;
}

.header-container-start {
    min-width: var(--min-w-device);
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3rem;
    margin-top: 1rem;
}

.header-container-phrase {
    max-width: var(--min-w-device);
}

.header-phrase {
    font-family: var(--font-minecraft);
    text-align: center;
    line-height: 1.9rem;
    color: #ececef;
}

.header-container-btn-start {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MAIN  */

.main {
    min-width: var(--min-w-device);
    width: 100%;
}

.section-content {
    width: 100vw;
    min-width: var(--min-w-device);
}

.section-content__index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(assets/img/fondo-index3.png);
    background-size: cover; 
    background-position: 50% 0%;
    position: relative;
}

.section-content__index::before{
    content: "";
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(180deg, #02002400 0%, #000000 60%);
    opacity: 0.6;
}


.container-title-section {
    width: 100%;
    color: #ebebeb;
    padding: 0px 2rem;
    text-align: center;
    margin: 1.5rem auto;
    position: relative;
}

.title-section {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    max-width: 50rem;
    font-family: var(--font-minecraft-bold);
    letter-spacing: 1rem;
    background-color: #a88953;
    border: 3px outset #897143;
    background-image: url(assets/img/sign-texture.png);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title-section__sm{
    font-size: 8vw;
}

.title-section__md{
    font-size: 11vw;
}

.title-section__lg{
    font-size: 20vw;
}

.index-item {
    margin: 1.5rem 0px;
}

.container-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #000000;
    position: relative;
}

.p-content {
    color: #ebebeb;
    padding: 2rem;
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.p-content span.bold{
    font-weight: 900;
}


/* SLIDERS - WHAT'S MINECRAFT*/

.container-slider{
    width: 100%;
    height: 50rem;
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: start;
}

.slider{
    width: 90%;
    height: 75%;
    margin: auto;
    background-image: url("assets/img/minecraft-whats-1.webp");
    background-size: cover;
    animation: slide-move 10s infinite ease;
    background-position: 50% 0%;
}

/* ____________________________ */

/* HISTORY */

.media-scroller{
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 1rem;
    font-family: 'Noto Sans', sans-serif;
    background-color: #212121;
    text-align: center;
}

.media-element img{
    width: 100%;
    height: 80%;
    border-radius: 1rem 1rem 0px 0px;
    border-bottom: 2px solid #ffffff;
}

.title-media-element{
    padding: 2rem;
    font-size: 2rem;
}

.media-scroller::-webkit-scrollbar{
    background-color: darkgray  ;
    height: 0.5rem;
}

.media-scroller::-webkit-scrollbar-thumb{
    background-color: black;
}

/* _____________________________ */


/* GAME-MODES */

.list-game-modes{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.container-game-mode{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: start;
    background-color: #c7bc75;
    background-image: url(assets/img/sand-texture.svg);
    box-shadow: 0px 8px 5px 4px rgba(0,0,0,0.1);
}

.container-game-mode h2{
    column-rule: #000000;
    padding-top:2rem;
}

.container-game-mode p{
    padding: 1rem;
    color: rgb(69, 66, 66);
}
/* _____________________________ */

/* MINECRAFT CUSTOM */

#carouselMinecraftMods{
    box-shadow: 3px 8px 0px 4px rgba(0,0,0,0.1);
}

.carousel-caption h1{
    margin: 1.5rem auto;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #a88953;
    border: 3px outset #897143;
    max-width: 25rem;
}




/* _____________________________ */

/* FOOTER */

.footer {
    font-size: 10px;
    font-family: var(--font-minecraft);
    line-height: 1.9rem;
    color: white;
    margin-top: auto;
    background-color: #212121;
    /* background-image: url('assets/img/obsidian.png'); */
}

.footer-copyright {
    text-align: center;
    line-height: 3.5rem;
}

/* ___________________________ */

/* BUTTONS */
.btn-minecraft {
    height: 4rem;
    display: block;
    font-family: var(--font-minecraft);
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: auto;
    line-height: 3;
}

.btn-minecraft__sm {
    width: 25%;
    max-width: 30rem;
    min-width: 25rem;
}

.btn-minecraft__md {
    width: 50%;
    max-width: 45rem;
    min-width: 25rem;
}

.btn-minecraft__lg {
    width: 80%;
    max-width: 60rem;
    min-width: 25rem;
}

.btn-minecraft__grass {
    border: 3px outset #4caf50;
    background-color: #4caf50;
}

.btn-minecraft__grass:hover {
    border: 3px inset #4caf50;
}

.btn-minecraft__stone {
    outline: 2px solid #000c13;
    border: 3px outset #aaaaaa;
    background-color: #6f6f6f;
}

.btn-minecraft__stone:hover {
    border: 3px inset #aaaaaa;
}

/* ____________________________ */

/* TEXTURES */
.bg-stone{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("assets/img/stone-texture.svg");
    background-size: 100%;
    opacity: 0.3;
}

.bg-dirt{
    background-size: 100%;
    position: absolute;
    background-image: url("assets/img/dirt-texture.png");
    background-repeat: repeat;
}

.chain-texture{
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0.8vw;
    background-image: url(assets/img/chain-texture.svg);
    background-repeat: repeat-x;
    background-size: 48px;
}

.logo-microsoft{
    width: 100%;
    background-image: url(assets/img/logo-microsoft.svg);
}

/* __________________________________ */

/* MEDIA QUERIES */

@media screen and (min-width: 650px) {
    .title-section {
        font-size: 6rem;
    }

    .title-section-mw60{
        max-width: 60rem;
    }

    .container-content__mx{
        margin: 0px 5vw;
    }

    .border-1{
        border-start-start-radius: 5rem;
    }

    .border-4{
        border-end-end-radius: 5rem;
    }

    .media-scroller{
        grid-auto-columns: 50%;
    }

    .list-game-modes{
        flex-direction: row;
    }

    .container-game-mode{
        width: 48%;
    }
}

@media screen and (min-width: 1000px) {
    .heart-absolute{
        display: block;
    }

    .container-content{
        flex-direction: row;
    }

    .container-img, .container-p, .container-slider{
        width: 50%;
    }
    
    .container-img img{
        width: 100%;
    }

    .media-scroller{
        grid-auto-columns: 33%;
    }

    .container-game-mode{
        width: 23%;
    }

    #carouselMinecraftMods{
        width: 50%;
        height: 100%;
    }
}

/* _____________________________ */

/* ANIMATIONS */

@keyframes slide-move{
    0%{
        background-image: url(assets/img/minecraft-whats-1.webp);
        background-size: cover;
    }
    50%{
        background-image: url(assets/img/minecraft-whats-2.webp);
        background-size: cover;
    }
    100%{
        background-image: url(assets/img/minecraft-whats-3.jpg);
        background-size: cover;
    }
}