@font-face {
    font-family: minecraft-font;
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Minecraft.ttf);
}

:root {
    --font-minecraft: minecraft-font, 'Courier New', Courier, monospace;
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    cursor: url(assets/img/cursor-default.png), default;
    background-image: url(assets/img/quartz-texture.svg);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    overflow-x: hidden;
}

li{
    list-style: none;
}

::selection {
    background-color: #000c13;
    color: #fff;
}

/* HEADER */
.header {
    width: 100vw;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
}

.header-container-logo {
    width: 100%;
    height: 50%;
    margin: auto;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header-logo {
    max-width: 60rem;
    min-width: 25rem;
    padding: 2rem;
}

.header-container-start {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1rem;
}

.header-container-phrase{
    width: 100%;
    margin-top: 1rem;
}

.header-phrase {
    font-family: var(--font-minecraft);
    text-align: center;
    line-height: 1.9rem;
    color: #ececef;
}


/* MAIN  */
.main{

}

.section-content{
    width: 100vw;
    height: 100vh;
}

.section-content__index{
    display: flex;
    justify-content: center;
}

.nav-content{
    width: inherit;
    background-color: blue;
    display: grid;
}

.index{

}


/* FOOTER */

.footer{
    font-size: 10px;
    font-family: var(--font-minecraft);
    line-height: 1.9rem;
    color: white;
    margin-top: auto;
    background-color: rgb(33, 33, 33);
    background-image: url('assets/img/obsidian.png');
}

.footer-copyright{
    text-align: center;
    line-height: 3.5rem;
}

/* BUTTONS */
.btn-minecraft{
    display: inline-block;
    font-family: var(--font-minecraft);
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 2rem;
}

.btn-minecraft:hover, .btn-minecraft:active, .btn-minecraft:focus{
    cursor: url(assets/img/cursor-pointer.png), default;
}

.btn-minecraft:active{
    cursor: default;
}

.btn-minecraft__grass{
    border:  3px outset #4caf50;
    background-color: #4caf50;
}

.btn-minecraft__grass:hover{
    border:  3px inset #4caf50;
}

.btn-minecraft__grass:active{
    cursor: pointer;
}